<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CatDataServlet</display-name>
  	<servlet-name>CatDataServlet</servlet-name>
  	<servlet-class>com.neusoft.bigdata.web.servlet.CatDataServlet</servlet-class>
  </servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CatDataServlet</servlet-name>
		<url-pattern>/catdata</url-pattern>
	</servlet-mapping>
  
</web-app>
